extends layouts/default

block content
  ul
    li Figure out which HTML file is current
    li Convert to HTML Jade
    li Convert to Bootstrap v4
    li push gh-pages branch to repo
    li ensure it looks good
    li include CNAME in repo
    li disable domain in A Small Orange cPanel
    li check domain
    li.
      implement RSVP form #[a(href='https://github.com/dwyl/html-form-send-email-via-google-script-without-server') example]
    li hotels info
    li shuttle info
    li stuff to do in Spicer
    li alter Google location
    li check Apple Maps location
