extends layouts/default

block content

  .special
    #home.jumbotron
  .clearfix
  
  #story.container
    h2 Our story
    .row
      .col-sm-6.col-xs-12
        h4 How we met
        img.img-responsive(src='images/st-thomas.jpg' width='585' height='250' alt='University of St. Thomas')
        p
          | Liz and David both went to the University of St. Thomas, and majored in Journalism. 
          | They both graduated in the class of 2010. 
          | You'd think that this was where they met, but surprisingly they never met in college.
        p
          | It wasn't until May 10th, 2012, that the two first met through a mutual friend.
        p
          | They bonded quickly, and starting in September, they began talking freqently.
      .col-sm-6.col-xs-12
        h4 Our first date
        img.img-responsive(src='images/st-paul-la-grolla.jpg' width='585' height='250' alt='St. Paul, MN')
        p
          | On December 13, 2012, Liz bravely attended David's company party as his +1. 
          | One might think this would be their first date. 
          | But Liz is adamant to this day that this was not the case. 
          | I guess it doesn't count if there's free food and drinks &hellip;
        p
          | On January 4th, 2013, they went on their first real date at La Grolla in St. Paul.
    hr
    .row
      .col-sm-6.col-xs-12
        h4 Adventures Abroad
        img.img-responsive(src='images/ireland.jpg' width='585' height='250' alt='Ireland')
        p
          | In order to set up the story of the proposal, 
          | we need a little back-story. 
          | In April of 2015, David and Liz travelled to Ireland. 
          | While driving through the southwest part of the country, 
          | on the way to #[a(href='https://www.facebook.com/photo.php?fbid=10100443591640992&set=a.10100442474290172&type=1&l=8c5f1b2240&theater' target='_blank') Dingle] 
          | via #[a(href='https://www.facebook.com/photo.php?fbid=10100443579031262&set=a.10100442474290172&type=1&l=8c5f1b2240&theater' target='_blank') Connor Pass], 
          | they made a spontaneous stop at 
          | #[a(href='https://www.facebook.com/photo.php?fbid=10100444205206402&set=a.10100442474290172&type=1&l=8c5f1b2240&theater' target='_blank') Tralee Bay].
        p
          | It was an unforgettable experience &ndash; 
          | one of those time-stopping moments of surreal beauty.
        p
          | Liz commented, "It doesn't get any better than this." 
          | to which David responded with grave sincerity, "It's about to."
          | Now, at this point, Liz was pretty sure that David was about to propose to her.
        p
          | Instead, he jested, "We're gonna take a selfie."
        p
          | While that particular selfie might not have turned out, they did take lots of other 
          | #[a(href='https://www.facebook.com/photo.php?fbid=10100443335199902&set=a.10100442474290172&type=1&l=8c5f1b2240&theater' target='_blank') epic selfies ]
          | in 
          | #[a(href='https://www.facebook.com/photo.php?fbid=10100444028490542&set=a.10100442474290172&type=1&l=8c5f1b2240&theater' target='_blank') Ireland] 
          | and #[a(href='https://www.facebook.com/photo.php?fbid=10100442494479712&set=a.10100442474290172&type=1&l=8c5f1b2240&theater' target='_blank') NYC] on that trip.
      .col-sm-6.col-xs-12
        h4 How he proposed
        img.img-responsive(src='images/north-shore.jpg' width='585' height='250' alt='North Shore, MN')
        p Coming soon &hellip;

  #people.container
    include layouts/people
  
  #event.container
    h2 Event Details
    .row
      .col-sm-4
        h3 Parking
        h4 Please arrive early
        address
          | Faith Lutheran Church<br>
          | 310 Medayto Drive<br>
          | Spicer, MN
        h3 Shuttle
        p
          | Shuttle service provided for guests at select hotels. 
          a(href='#shuttle') See details below
          | .
      .col-sm-4
        h3 Ceremony
        h4 2:00pm
        address
          | Dean and Karen Erickson's<br>
          | 303 Lake Avenue North<br>
          | Spicer, MN
        p Limited parking available at ceremony location for those who need it
      .col-sm-4
        h3 Reception
        h4 Social Hour
        h5 3:00pm
        h4 Dinner
        h5 5:00pm
        h4 Dance
        h5 7:00pm - 10:30pm
        address
          | Prairie Woods Environmental<br>
          | 12718 10th Street NE<br>
          | Spicer, MN
        p Parking is available, as well as a shuttle service.
    hr
    .row
      .col-xs-12
        h4 Attire
        p Cocktail attire requested.
        h4 Weather Updates
        p
        | The ceremony and reception will be outdoors. 
        | In case of inclement weather, please check this website for any updates.
          
  #directions
    #map_canvas
  
  //- shuttleIcon string includes trailing space
  - var shuttleIcon = '<span class="glyphicon glyphicon-flag"></span> '
  - var shuttleService = shuttleIcon + 'Shuttle service'
  #hotels.container
    include layouts/hotels
    
  #shuttle.container
    h2 Shuttle Service
    .row
      .col-sm-6
        p
          | Parking is limited near the ceremony venue. 
        p
          | Therefore, we ask that guests who are able please park in the parking area noted above 
          | (Faith Lutheran Church). 
        p
          | Designated vehicles will be available to transport guests between the parking area and the ceremony venue. 
        p
          | After the ceremony, these vehicles will be available to bring guests back to the parking area.
        p
          | There will be priority parking available at each venue for those with mobility concerns or other special requirements.
      .col-sm-6
        p
          | If you are staying at one of the hotels listed above as offering shuttle service (marked with the !{shuttleIcon} icon), 
          | we will provide a shuttle to all venues throughout the day. 
        p
          | All guests staying in Willmar hotels and wishing to use the shuttle will need to gather in front of the lobby of the Best Western Plus.
        p
          | The shuttle will leave the Best Western Plus in Willmar at 1:25pm, 
          | and head to the Northern Inn & Suites to pick up guests there.
        p
          | The shuttle will depart the Northern Inn & Suites at 1:45pm. 
          | After the ceremony, the shuttle will bring guests to the reception venue.
        p
          | Throughout the evening, the shuttle will make rounds between the reception venue, 
          | select hotels in Willmar (!{shuttleIcon}), 
          | and the Northern Inn &amp Suites in Spicer. 
  
  #hashtag.container
    h2 Wedding Hashtag
    .row
      .col-sm-6
        h3.h1 #dizzyinlove
        p.lead P.S. In case you were wondering...
        p Our couple name is Dizzy (David + Lizzy).
        p.small
          | (It's also the name of our award-seeking rap duo. See the included album art from our upcoming album release. It's gonna be hot fire).
      .col-sm-6
        img.img-responsive(src='images/dizzy-album-art.jpg')
        
  #photos
    .container: h2 Photos
    //- this include is intended to reside outside .container
    include layouts/gallery-engagement
      
  #gifts.container
    include layouts/gift-registries
            
  #rsvp.container
    h2 Don't Forget to RSVP
    include layouts/rsvp-form
