extends layouts/default

block content

  .special
    #home.jumbotron
  .clearfix
  
  #story.container
    h2 Our story
    .row
      .col-sm-6.col-xs-12
        h4 How we met
        p 
          | Liz and David both went to the University of St. Thomas, and majored in Journalism. 
          | They both graduated in the class of 2010. 
          | You'd think that this was where they met, but surprisingly they never met in college.
        p 
          | It wasn't until May 10th, 2012, that the two first met through a mutual friend.
        p 
          | They bonded quickly, and starting in September, they began talking freqently.
        img.img-responsive(src='images/story/st-thomas.jpg' width='585' height='250' alt='University of St. Thomas')
      .col-sm-6.col-xs-12
        h4 Our first date
        p 
          | On December 13, 2012, Liz bravely attended David's company party as his +1. 
          | One might think this would be their first date. 
          | But Liz is adamant to this day that this was not the case. 
          | I guess it doesn't count if there's free food and drinks &hellip;
        p 
          | On January 4th, 2013, they went on their first real date at La Grolla in St. Paul.
        img.img-responsive(src='images/story/st-paul-la-grolla.jpg' width='585' height='250' alt='St. Paul, MN')
    hr
    .row
      .col-sm-6.col-xs-12
        h4 Adventures in Ireland
        p
          | In order to set up the story of the proposal, 
          | we need a little back-story. 
          | In April of 2015, David and Liz travelled to Ireland. 
          | While driving through the southwest part of the country, 
          | on the way to #[a(href='https://www.facebook.com/photo.php?fbid=10100443591640992&set=a.10100442474290172&type=1&l=8c5f1b2240&theater') Dingle] 
          | via #[a(href='https://www.facebook.com/photo.php?fbid=10100443579031262&set=a.10100442474290172&type=1&l=8c5f1b2240&theater') Connor Pass], 
          | they made a spontaneous stop at 
          | #[a(href='https://www.facebook.com/photo.php?fbid=10100444205206402&set=a.10100442474290172&type=1&l=8c5f1b2240&theater') Tralee Bay].
        p 
          | It was an unforgettable experience &ndash; 
          | one of those time-stopping moments of surreal beauty.
        p
          | Liz commented, "It doesn't get any better than this." 
          | to which David responded with grave sincerity, "It's about to."
        p
          | Now, at this point, Liz was pretty sure that David was about to propose to her.
        p
          | Instead, he jested, "We're gonna take a selfie."
        p
          | While that particular selfie might have been deleted in angst, 
          | or maybe didn't turn out, they did take lots of other 
          | #[a(href='https://www.facebook.com/photo.php?fbid=10100443335199902&set=a.10100442474290172&type=1&l=8c5f1b2240&theater') epic selfies ]
          | in 
          | #[a(href='https://www.facebook.com/photo.php?fbid=10100444028490542&set=a.10100442474290172&type=1&l=8c5f1b2240&theater') Ireland] 
          | and #[a(href='https://www.facebook.com/photo.php?fbid=10100442494479712&set=a.10100442474290172&type=1&l=8c5f1b2240&theater') NYC] on that trip.
        img.img-responsive(src='images/story/ireland.jpg' width='585' height='250' alt='Ireland')
      .col-sm-6.col-xs-12
        h4 How he proposed
        p Coming soon &hellip;
        img.img-responsive(src='images/story/north-shore.jpg' width='585' height='250' alt='North Shore, MN')

  #people.container
    include layouts/people
  
  #event.container
    h2 Event Details
    .row
      .col-xs-6.col-sm-3
        h3 Ceremony
        h4 2:00pm
        address
          | Dean and Karen Erickson's<br>
          | 303 Lake Avenue North<br>
          | Spicer, MN
      .col-xs-6.col-sm-3
        h3 Social Hour
        h4 3:00pm
        address
          | Prairie Woods Environmental Learning Center<br>
          | 12718 10th St NE<br>
          | Spicer, MN
      .col-xs-6.col-sm-3
        h3 Dinner
        h4 5:00pm
        address
          | Prairie Woods Environmental Learning Center
      .col-xs-6.col-sm-3
        h3 Dance
        h4 7:00pm - 10:30pm
        address
          | Prairie Woods Environmental Learning Center
          
  
  #map-ericksons.map
    
  #hashtag.container
    h2 Wedding Hashtag
    .row
      .col-sm-6
        h3.h1 #dizzyinlove
        p.lead P.S. In case you were wondering...
        p Our couple name is Dizzy (David + Lizzy).
        p.small
          | (It's also the name of our award-seeking rap duo. See the included album art from our upcoming album release. It's gonna be hot fire).
      .col-sm-6
        img.img-responsive(src='images/dizzy-album-art.jpg')
        
  #photos
    .container: h2 Photos
    include layouts/gallery-engagement
      
  #gifts.container
    include layouts/gift-registries
            
  #rsvp.container
    h2 Don't Forget to RSVP
    include layouts/rsvp-form
