extends layouts/default

block content

  .special
    #home.jumbotron
  .clearfix
  
  #story.container
    h2 Our story
    .row
      .col-sm-6.col-xs-12
        h4 How we met
        p Liz and David both went to the University of St. Thomas, and majored in Journalism. They both graduated in the class of 2010. You'd think that this was where they met, but surprisingly they never met in college.
        p It wasn't until May 10th, 2012, that the two first met through a mutual friend.
        p They bonded quickly, and starting in September, they began talking freqently.
        img.img-responsive(src='images/story/st-thomas.jpg' width='585' height='250' alt='University of St. Thomas')
      .col-sm-6.col-xs-12
        h4 Our first date
        p On December 13, 2012, Liz bravely attended David's company party as his +1. You would think this would be their first date. But Liz is adamant to this day that this was not the case. I guess it doesn't count if it's free food and drinks &hellip;
        p On January 4th, 2013, they went on their first real date at La Grolla in St. Paul.
        img.img-responsive(src='images/story/st-paul-la-grolla.jpg' width='585' height='250' alt='St. Paul, MN')
    hr
    .row
      .col-sm-6.col-xs-12
        h4 Adventures in Ireland
        p Coming soon...
        img.img-responsive(src='images/story/ireland.jpg' width='585' height='250' alt='Ireland')
      .col-sm-6.col-xs-12
        h4 How he proposed
        p Check back later...
        img.img-responsive(src='images/story/north-shore.jpg' width='585' height='250' alt='North Shore, MN')

  #people.container
    include layouts/people
  
  #event.container
    h2 Event Details
    .row
      .col-xs-6.col-sm-3
        h3 Ceremony
        h4 2:00pm
        address
          | Dean and Karen Erickson's<br>
          | 303 Lake Avenue North<br>
          | Spicer, MN
      .col-xs-6.col-sm-3
        h3 Social Hour
        h4 3:00pm
        address
          | Prairie Woods Environmental Learning Center<br>
          | 12718 10th St NE<br>
          | Spicer, MN
      .col-xs-6.col-sm-3
        h3 Dinner
        h4 5:00pm
        address
          | Prairie Woods Environmental Learning Center
      .col-xs-6.col-sm-3
        h3 Dance
        h4 7:00pm - 10:30pm
        address
          | Prairie Woods Environmental Learning Center
          
  
  #map-ericksons.map
    
  #hashtag.container
    h2 Wedding Hashtag
    .row
      .col-sm-6
        h3.h1 #dizzyinlove
        p.lead P.S. In case you were wondering...
        p Our couple name is Dizzy (David + Lizzy).
        p.small
          | (It's also the name of our award-seeking rap duo. See the included album art from our upcoming album release. It's gonna be hot fire).
      .col-sm-6
        img.img-responsive(src='images/dizzy-album-art.jpg')
        
  #photos
    .container: h2 Photos
    include layouts/gallery-engagement
      
  #gifts.container
    include layouts/gift-registries
            
  #rsvp.container
    h2 Don't Forget to RSVP
    include layouts/rsvp-form
