nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.script-font(href='#') David & Lizzy
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li: a(href='#story') Our Story
        li: a(href='#people') People
        li: a(href='#event') Event
        li: a(href='#hashtag') Hashtag
        li: a(href='#gifts') Gifts
        li: a(href='#gallery') Gallery
        li: a(href='#rsvp') RSVP
